 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Session Info</title>
    <style>
    </style>
  </head>
  <body>
    <main>
      <h1>Session Info</h1>
      {{ if .LoggedIn }}
        <p><span>Expiry: </span>{{ .Expiry }}</p>
        <p><span>Provider: </span>{{ .Provider }}</p>
        <p><span>Access Token Available: </span>{{ .AccessTokenAvailable }}</p>
        <p><span>Refresh Token Available: </span>{{ .RefreshTokenAvailable }}</p>
        <p><span>ID Token Available: </span>{{ .IDTokenAvailable }}</p>
        {{ if .User }}
          <p><span>User ID: </span>{{ .User.ID }}</p>
          <p><span>User: </span>{{ .User.Name }}</p>
          {{ with .User.Groups }}
            <p><span>Groups: </span></p>
            <ul>
            {{ range . }} <li>{{ . }}</li> {{ end }}
            </ul>
          {{ end }}
        {{ end }}
      {{ else }}
      <p><span>Your session expired at </span><time datetime="{{ .Expiry }}">{{ .Expiry }}</time>.</p>
        {{ if .RefreshTokenAvailable }}
        <p>Your session can potentially be reactived using the existing refresh token</p>
        {{ end }}
      {{ end }}
      {{ if .LoggedIn }}
      <form method="GET" action="/logout">
        <button type="submit">Logout</button>
      </form>
      {{ else }}
      <form method="GET" action="/login">
        <button type="submit">Login</button>
      </form>
      {{ end }}
      {{ if .RefreshTokenAvailable }}
      <form method="GET" action="/refresh">
        <button type="submit">Refresh</button>
      </form>
      {{ end }}
    </main>
  </body>
</html> 
